<footer class="footer container">
  <div class="footer-content">
    <div class="footer-left">
      <span>© {{ site.copyrightYear }} {{ site.name }}</span>
      <span>{{ site.location }}</span>
    </div>
    <div class="footer-right">
      <a href="#">Политика конфиденциальности</a>
      <a href="#">Terms</a>
    </div>
  </div>
</footer>
