<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title or "Reduck Studio" }}</title>
    <link rel="stylesheet" href="/assets/styles.compiled.css" />
    <link id="theme-stylesheet" rel="stylesheet" href="/assets/theme-dark.css" />
  </head>
  <body>
    {% include "components/header.njk" %} {{ content | safe }}≥ {% include "components/footer.njk"
    %} {% include "components/contact-form-modal.njk" %}

    <script src="/assets/script.js"></script>
  </body>
</html>
