---
layout: layouts/base.njk
title: Reduck Studio
permalink: /index.html
bodyClass: homepage
---

<div class="gradient-bg" aria-hidden="true">
  <svg viewBox="0 0 100vw 100vw" xmlns="http://www.w3.org/2000/svg" class="noise-bg">
    <filter id="noiseFilterBg">
      <feTurbulence type="fractalNoise" baseFrequency="0.6" stitchTiles="stitch" />
    </filter>
    <rect width="100%" height="100%" filter="url(#noiseFilterBg)" />
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" class="svg-blur">
    <defs>
      <filter id="goo">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -8" result="goo" />
        <feBlend in="SourceGraphic" in2="goo" />
      </filter>
    </defs>
  </svg>
  <div class="gradients-container">
    <div class="g1"></div>
    <div class="g2"></div>
    <div class="g3"></div>
    <div class="g4"></div>
    <div class="g5"></div>
  </div>
</div>

<section class="hero container">
  <h1><em>Сайты и бренды, которые</em> помогают росту бизнеса</h1>
  <div class="hero-cta">
    <div class="hero-contact">
      <p class="contact-description">
        Мы создаем цифровые продукты, которые привлекают аудиторию и способствуют росту бизнеса.
      </p>

      <div class="contact-cta">
        <a class="contact-card" href="#">
          <img src="/assets/images/avatar.png" alt="Profile" />
          <img src="/assets/images/avatar.png" alt="Profile" />
          <button class="contact-chat">
            <svg
              width="20"
              height="20"
              viewBox="0 0 20 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M6.66667 10.5752L14.1583 17.1669C14.2449 17.2435 14.3499 17.2963 14.4631 17.3201C14.5763 17.3439 14.6937 17.3378 14.8038 17.3025C14.9139 17.2672 15.0129 17.2039 15.0912 17.1187C15.1694 17.0336 15.2241 16.9296 15.25 16.8169L18.3833 3.13352C18.4096 3.01568 18.4034 2.89291 18.3653 2.77833C18.3273 2.66375 18.2588 2.56165 18.1673 2.48294C18.0757 2.40423 17.9645 2.35185 17.8455 2.33141C17.7266 2.31096 17.6042 2.32321 17.4917 2.36685L2.10834 8.40852C1.49167 8.65019 1.57501 9.55019 2.22501 9.68352L6.66667 10.5752Z"
                stroke="var(--color-action-primary-normal)"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M6.66675 10.575L18.0084 2.3833"
                stroke="var(--color-action-primary-normal)"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M10.4084 13.8669L7.80841 16.4669C7.71566 16.5611 7.59699 16.6255 7.4675 16.6521C7.33801 16.6787 7.20353 16.6662 7.08117 16.6162C6.9588 16.5662 6.85407 16.4809 6.78028 16.3712C6.70649 16.2615 6.66697 16.1324 6.66675 16.0002V10.5752"
                stroke="var(--color-action-primary-normal)"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <div class="contact-card__text">
            Contact out Team <br />
            <em>on Telegram</em>
          </div>
        </a>
      </div>
    </div>
    <div class="cta-checkpoint_top"></div>
  </div>
</section>

<button class="cta-button">
  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_12201_13208)">
      <path
        d="M20.24 12.24C21.3658 11.1142 21.9983 9.58722 21.9983 7.99504C21.9983 6.40285 21.3658 4.87588 20.24 3.75004C19.1142 2.62419 17.5872 1.9917 15.995 1.9917C14.4028 1.9917 12.8758 2.62419 11.75 3.75004L5 10.5V19H13.5L20.24 12.24Z"
        stroke="black"
        stroke-width="2.4"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M16 8L2 22"
        stroke="black"
        stroke-width="2.4"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M17.5 15H9"
        stroke="black"
        stroke-width="2.4"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </g>
    <defs>
      <clipPath id="clip0_12201_13208">
        <rect width="24" height="24" fill="white" />
      </clipPath>
    </defs>
  </svg>

  <span
    >Оставить<br />
    заявку</span
  >
</button>

<section class="projects container">
  <div class="statement">
    <h2>Цифровые продукты <br />и впечатления</h2>
  </div>
  <div class="projects-items">
    <a href="/products/race-finder/" class="project-card">
      <div class="project-image">
        <img
          src="/assets/images/content.jpg"
          alt="StoreCan project"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div class="project-info">
        <h3>+32,7% Конверсии в StoreCan</h3>
        <p>Каждый проект начинается с <em>глубокого погружения</em> в задачи клиента.</p>
        <div class="tags">
          <span class="tag">Website</span>
          <span class="tag">Logo fresh up</span>
          <span class="tag">Marketeeng</span>
          <span class="tag">App</span>
        </div>
      </div>
    </a>

    <div class="project-card">
      <div class="project-image">
        <img src="/assets/images/content2.jpg" alt="Store project" loading="lazy" decoding="async" />
      </div>
      <div class="project-info">
        <h3>+32,7% Конверсии в StoreCan</h3>
        <p>Каждый проект начинается с <em>глубокого погружения</em> в задачи клиента.</p>
        <div class="tags">
          <span class="tag">Website</span>
          <span class="tag">Logo fresh up</span>
          <span class="tag">Marketeeng</span>
          <span class="tag">App</span>
        </div>
      </div>
    </div>

    <div class="project-card">
      <div class="project-image">
        <img
          src="/assets/images/content.jpg"
          alt="StoreCan project"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div class="project-info">
        <h3>+32,7% Конверсии в StoreCan</h3>
        <p>Каждый проект начинается с <em>глубокого погружения</em> в задачи клиента.</p>
        <div class="tags">
          <span class="tag">Website</span>
          <span class="tag">Logo fresh up</span>
          <span class="tag">Marketeeng</span>
          <span class="tag">App</span>
        </div>
      </div>
    </div>

    <div class="project-card">
      <div class="project-image">
        <img src="/assets/images/content2.jpg" alt="Store project" loading="lazy" decoding="async" />
      </div>
      <div class="project-info">
        <h3>+32,7% Конверсии в StoreCan</h3>
        <p>Каждый проект начинается с <em>глубокого погружения</em> в задачи клиента.</p>
        <div class="tags">
          <span class="tag">Website</span>
          <span class="tag">Logo fresh up</span>
          <span class="tag">Marketeeng</span>
          <span class="tag">App</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="services container container-with_gradient">
  <div class="services-content">
    <div class="statement">
      <h2>Все что мы делаем помогает <em>вам расти</em></h2>
      <div class="statement-icon">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M30.6693 8L18.0026 20.6667L11.3359 14L1.33594 24"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M22.6641 8H30.6641V16"
            stroke="white"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
    <div class="services-categories-container">
      <div class="services-image">
        <img
          src="/assets/images/product-grow.png"
          alt="Product Design"
          loading="lazy"
          decoding="async"
        />
      </div>
      <div class="services-categories">
        <div class="services-category">
          <h3 class="category-title">Product Design</h3>
          <div class="services-tags">
            <span class="service-tag">UX</span>
            <span class="service-tag">UI</span>
            <span class="service-tag">Design systems</span>
            <span class="service-tag">Prototype</span>
            <span class="service-tag">Strategy</span>
            <span class="service-tag">Mobile apps</span>
            <span class="service-tag">Execution</span>
            <span class="service-tag">3D</span>
          </div>
        </div>
        <div class="services-category">
          <h3 class="category-title">Branding</h3>
          <div class="services-tags">
            <span class="service-tag">Brand and Communication</span>
            <span class="service-tag">Marketing</span>
            <span class="service-tag">Logo Design</span>
          </div>
        </div>
        <div class="services-category">
          <h3 class="category-title">Development</h3>
          <div class="services-tags">
            <span class="service-tag">Brand and Communication</span>
            <span class="service-tag">Marketing</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="process container container-with_gradient">
  <div class="statement">
    <h2>понятные <em>этапы разработки</em> и сроки сдачи</h2>
  </div>

  <div class="breakdown-phases">
    <div class="phase-column">
      <div class="phase-column__icon"></div>
      <div class="phase-column__title">
        <span class="phase-number">01</span>
        <h5>Разбираемся в задаче</h5>
      </div>
      <p class="phase-description">
        Определяем ключевые метрики и показатели на которые хотим повлиять. Формируем ТЗ.
      </p>
      <div class="phase-steps">
        <div class="phase-step__item">
          <span class="phase-step__number">1</span>
          <span class="phase-step__text">Strategy Workshop</span>
        </div>
        <div class="phase-step__item">
          <span class="phase-step__number">2</span>
          <span class="phase-step__text">Idea Validation</span>
        </div>
        <div class="phase-step__item">
          <span class="phase-step__number">3</span>
          <span class="phase-step__text">Market Research</span>
        </div>
        <div class="phase-step__item">
          <span class="phase-step__number">4</span>
          <span class="phase-step__text">Product Positioning</span>
        </div>
        <div class="phase-step__item">
          <span class="phase-step__number">5</span>
          <span class="phase-step__text">UX Research</span>
        </div>
        <div class="phase-step__item">
          <span class="phase-step__number">6</span>
          <span class="phase-step__text">Functional Decomposition</span>
        </div>
      </div>
    </div>

    <div class="phase-column">
      <div class="phase-column__icon"></div>
      <div class="phase-column__title">
        <span class="phase-number">02</span>
        <h5>Анализ и стратегия</h5>
      </div>
      <p class="phase-description">
        Изучаем ваш рынок, конкурентов и клиентов, чтобы предложить эффективный план работ и
        сформировать сроки
      </p>
      <div class="phase-steps">
        <div class="phase-step__item">
          <span class="phase-step__number">7</span>
          <span class="phase-step__text">User Flows</span>
        </div>
        <div class="phase-step__item">
          <span class="phase-step__number">8</span>
          <span class="phase-step__text">Prototyping</span>
        </div>
      </div>
    </div>

    <div class="phase-column">
      <div class="phase-column__icon"></div>
      <div class="phase-column__title">
        <span class="phase-number">03</span>
        <h5>Дизайн и прототип</h5>
      </div>
      <p class="phase-description">
        Создаём дизайн-концепции и интерактивные прототипы. Продумываем визуальные решения и
        пользовательский опыт.
      </p>
      <div class="phase-steps">
        <div class="phase-step__item">
          <span class="phase-step__number">9</span>
          <span class="phase-step__text">Moodboards</span>
        </div>
        <div class="phase-step__item">
          <span class="phase-step__number">10</span>
          <span class="phase-step__text">Visual Design</span>
        </div>
        <div class="phase-step__item">
          <span class="phase-step__number">11</span>
          <span class="phase-step__text">Hand-off</span>
        </div>
      </div>
    </div>
    <div class="phase-column">
      <div class="phase-column__icon"></div>
      <div class="phase-column__title">
        <span class="phase-number">04</span>
        <h5>Разработка и запуск</h5>
      </div>
      <p class="phase-description">
        Запускаем проект. Следим за его работой и помогаем с дальнейшими улучшениями.
      </p>
      <div class="phase-steps">
        <div class="phase-step__item">
          <span class="phase-step__number">12</span>
          <span class="phase-step__text">Moodboards</span>
        </div>
        <div class="phase-step__item">
          <span class="phase-step__number">13</span>
          <span class="phase-step__text">Visual Design</span>
        </div>
        <div class="phase-step__item">
          <span class="phase-step__number">14</span>
          <span class="phase-step__text">Hand-off</span>
        </div>
      </div>
    </div>
  </div>
</section>
{% include "components/contact-section.njk" %}
